.comp-button {
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid rgba(27, 26, 26, 0.952);
}

.comp-button:hover {
    background-color: var(--accent-hover);
}