.comp_button {
  color: #000000;
  padding: 3px 2px;
  font-size: 18px;
  border-radius: 0.5em;
  background: #45f0e1;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  width: 40%;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.comp_button:hover {
  border: 1px solid white;
}

.comp_button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
