body {
    background-color: rgb(124, 194, 145);
}

.container-createaccount {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 25px 50px;
    gap: 8px;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 6px;

    background-color: rgba(119, 114, 114, 0.158);
}

.container-createaccount label {
    position: relative;
    right: 5%;
}


.container-container-createaccount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.icon-eye-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px; 
    
    color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    z-index: 10;
}

.createaccountheading {
    align-self: center;
    font-size: 30px;
    font-weight: bold;
}

.password-input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.password-input-wrapper svg {
    margin-top: 6px;
}

.createaccountbutton {
    width: 30%;
    align-self: center;
}