.header {
    font-size: 18px;
    font-weight: bold;
}

.div-container-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-size: cover;
}

.div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    width: 30%;
    border: 1px solid black;
    border-radius: 4px;
}

.label-field {
    position: relative;
    left: -5%;
}

.button-reset-password {
    width: 30%;
    align-self: center;
}