* {
    
}

aside {
    position: fixed;
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10px;
    overflow-x: hidden; 
    overflow-y: auto;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

aside button {
    margin: 6px;
    border-radius: 8px;
    font-size: 10px;
}

.Logout-button {
    margin-top: auto;
}

.aside-open button span{
    width: 21%;
}
.aside-open button a {
    width: 21%;
}

@media only screen and (max-width: 500px) {

    aside button span{
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    aside button span {
        display: flex;
    }
}




