.heading1 {
    align-self: flex-start;
    margin-left: 20%;
    color: var(--main-blue);
}

.Login-container {
    display: flex;
    justify-content: center;
    min-width: 40%;
    min-height: 70%;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgba(99, 186, 197, 0.575);
    background-color: rgba(14, 14, 14, 0.233);
    border-radius: 6px;
}

.Login-container-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(59, 75, 105, 0.6)), url('/src/assets/bg-image.png') no-repeat center;
    background-size: cover;
    text-shadow: 
        -.6px -.6px 0 #383030,  
         .6px -.6px 0 #313131,
        -.6px  .6px 0 #3a3a3a,
         .6px  .6px 0 #313131;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-container input,
.input-password-wrapper input {
    width: 100%;
    
}

.input-container input::placeholder,
.input-password-wrapper input::placeholder {
    font-size: smaller;
    
}

.input-container input:focus,
.input-password-wrapper input:focus {
    background-color: white;
}

.input-password-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.icon-eye-password {
    position: absolute;
    right: 0px;
    top: 20%;
    transform: translate(-50%);
    color: rgba(255, 255, 255, 0.822);
}

.no-account-p {
    color: var(--main-blue);
        text-shadow: 
        -1px -.9px 0 #000000,  
         1px -.9px 0 #313131,
        -1px  .9px 0 #000000,
         1px  .9px 0 #313131;
}

.no-account-p a {
    text-decoration: underline;
    color: white;
    font-size: .8em;
    padding-left: 6px;
}