.Login-container {
    display: flex;
    justify-content: center;
    width: 60%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border: solid 2px black;
    background-color: hsla(239, 81%, 16%, 0.199);
}
.Login-container button {
    margin-top: 15px;
}

.Login-container-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background: #110808 url('/src/assets/bg-image.png') repeat center;
    background-size: cover;
}

