.heading1 {
    text-align: center;
    padding-left: 14px;
    color: var(--accent);
}

.Login-container {
    display: flex;
    justify-content: center;
    min-height: 70%;
    min-width: 40%;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--card-border);
    background-color: var(--overlay);
    border-radius: 6px;
    backdrop-filter: blur(8px);
}

.Login-container-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background: var(--bg);
    background-size: cover;
}

.input-container {
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.input-container input,
.input-password-wrapper input {
    width: 100%;
}

.input-container input::placeholder,
.input-password-wrapper input::placeholder {
    font-size: smaller;
}

.input-container input:focus,
.input-password-wrapper input:focus {
    background-color: white;
}

.input-password-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.icon-eye-password {
    position: absolute;
    right: 0px;
    top: 20%;
    transform: translate(-50%);
    color: var(--text);
}

.no-account-p {
    color: var(--accent);
    font-size: 19px;
}

.no-account-p a {
    text-decoration: underline;
    color: var(--text);
    font-size: .8em;
    padding-left: 6px;
}

.forgot-password {
    color: var(--text);
    font-size: 15px;
    text-decoration: underline;
}

.error-message {
    color: var(--pink);
    font-size: 0.975rem;
    font-weight: 500;
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
}

@media only screen and (max-width: 499px){
    .Login-container {
        width: 100%;
        height: 100%;
    }

    .input-container {
        width: 80%;
    }

    .heading1 {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px){
    .Login-container {
        width: 58%;
    }
}