.logout-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: none;
    background: var(--bg);
    background-size: cover;
    overflow: hidden;
    color: var(--text);
}

.logout-page-main-content {
    display: flex;
    border: solid 1px var(--card-border);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 80%;
}

.logout-message {
    font-size: large;
    font-size: 2.2em;
}